<div class="grid">
  <div class="card col-12">
    <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
      </ng-template>
      <ng-template pTemplate="center">
        <div class="card d-flex justify-content-center align-items-center">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search" [(ngModel)]="searchText" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="end">
        <i class="pi pi-user userLogin" (click)="userLogin()"></i>
      </ng-template>
    </p-menubar>
  </div>

  <div class="col-12 vehicle-main-div">
    <h2 class="vehicle-background">Vehicles</h2>
  </div>

  <div *ngFor="let card of vehicles" class="sm:col-12 md:col-6 lg:col-6 xl:col-6 xxl:col-6 " (click)="selectedCard()">
    <div class="card Objects justify-content-center">
      <p-card [header]="card.name" styleClass="text-centre">
        <img class="vehicle-image" alt="vehicle-img" [src]="card.image" />
      </p-card>
    </div>
  </div>

  <div class="col-12 vehicle-main-div">
    <h2 class="vehicle-background">Gadgets</h2>
  </div>

  <div *ngFor="let gadget of gadgets" class="sm:col-12 md:col-4 lg:col-4 xl:col-4 xxl:col-4 ">
    <div class="card Objects justify-content-center">
      <p-card [header]="gadget.name" styleClass="text-centre">
        <img class="vehicle-image" alt="vehicle-img" [src]="gadget.image" />
      </p-card>
    </div>
  </div>
</div>